@font-face {
  font-family: "NEXT-ART";
  src: url("../assets/fonts/NEXT-ART-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../assets/fonts/NunitoSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../assets/fonts/NunitoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../assets/fonts/NunitoSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../assets/fonts/NunitoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../assets/fonts/NunitoSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-size: 16px;
  background: #F3F5F4;
  color: #18121E;
  font-family: "NunitoSans";
  display: flex;
  flex-direction: column;
}
body.overlay:before {
  z-index: 20;
}
body.overlay .modal {
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body:before {
  content: "";
  position: fixed;
  inset: 0;
  transition: background-color 0.5s;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0);
  z-index: -10;
}

button {
  cursor: pointer;
}

a,
input,
button,
textarea,
select {
  font-family: "NunitoSans";
}

input {
  background-color: transparent;
  border: 1px solid #e1e3e4;
  border-radius: 8px;
  padding: 13px 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #fdfdfd;
  max-width: 270px;
  width: 100%;
}
input::placeholder {
  color: #FDFDFD;
}

label {
  color: #FDFDFD;
}
label svg {
  height: 18px;
  width: 18px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  color: #F2BE22;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  text-decoration: underline;
  color: #1A3E3E;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img:not([alt]),
img[alt=""] {
  filter: blur(10px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  color: #1A3E3E;
  margin-bottom: 1em;
}

h1 {
  font-size: 50px;
  line-height: 1.5;
}

h2 {
  font-size: 32px;
  line-height: 1.2;
}

h3 {
  font-size: 26px;
  line-height: 1.2;
}

h4 {
  font-size: 24px;
  line-height: 1.33;
}

h5 {
  font-size: 20px;
  line-height: 1.2;
}

h6 {
  font-size: 18px;
  line-height: 1.11;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

footer {
  margin-top: auto;
}

.container {
  width: 100%;
  max-width: 1204px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  border-radius: 4px;
  font-weight: 600;
  padding: 13px 24px;
  border: 1px solid transparent;
  transition: 0.4s;
  display: inline-block;
  line-height: 1;
}
.btn:hover {
  text-decoration: none;
}
.btn.btn_primary {
  border-color: #1A3E3E;
  background-color: #1A3E3E;
  color: #FDFDFD;
}
.btn.btn_primary:hover {
  background-color: #FDFDFD;
  color: #1A3E3E;
}
.btn.btn_lg {
  padding: 17px 34px;
}
.btn.btn_secondary {
  border: 1px solid #FDFDFD;
  background-color: #FDFDFD;
  color: #1A3E3E;
}
.btn.btn_secondary:hover {
  background-color: #1A3E3E;
  color: #FDFDFD;
  border-color: #1A3E3E;
}

.btn-play {
  position: absolute;
  background: rgba(255, 255, 255, 0);
  inset: 0;
  border-radius: 24px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}
.btn-play span {
  width: 50px;
  height: 50px;
  background: rgba(253, 253, 253, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  color: #1A3E3E;
  transition: background-color 0.3s;
}
.btn-play svg {
  width: 15px;
  height: 16px;
}
.btn-play:hover {
  background: rgba(255, 255, 255, 0.1333333333);
}
.btn-play:hover span {
  background: #fdfdfd;
}
.btn-play:hover svg {
  color: #F2BE22;
}

.input-box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.input-box label {
  cursor: pointer;
  font-size: 14px;
  padding: 9px 0 0 10px;
}
.input-box label.label-icon {
  position: absolute;
  top: 17px;
  right: 15px;
  padding: 0;
}
.input-box:hover .date-input::placeholder {
  color: #F2BE22;
}
.input-box:hover .date-input + label {
  color: #F2BE22;
}

.nice-select {
  background-color: transparent;
  border: 1px solid #e1e3e4;
  border-radius: 8px;
  padding: 0 36px 0 16px;
  font-weight: 700;
  font-size: 16px;
  color: #fdfdfd;
  height: 52px;
  line-height: 52px;
  width: 100%;
  max-width: 270px;
}
.nice-select:after {
  border-bottom: 2px solid #FDFDFD;
  border-right: 2px solid #FDFDFD;
  height: 11px;
  margin-top: -8px;
  width: 11px;
  right: 19px;
}
.nice-select .nice-select-dropdown {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
}
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
}
.nice-select.open + label {
  opacity: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.close-modal {
  color: #ffffff;
}

.close-modal__svg {
  width: 36px;
  height: 36px;
}

.d-none,
.hidden-select {
  display: none;
}

::selection {
  background-color: #1A3E3E;
  color: #F2BE22;
}

.header {
  padding: 16px 0;
  margin-bottom: -104px;
  z-index: 10;
}
.header .container {
  display: flex;
  align-items: center;
}
.header__logo img {
  height: 72px;
}
.header__mobile-container {
  display: flex;
  gap: 38px;
  align-items: center;
}
.header__mobile-container.show {
  display: flex;
}
.header__nav-list {
  display: flex;
}
.header__nav-link {
  padding: 12px;
  display: inline-block;
  color: #FDFDFD;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.12px;
}
.header__nav-link:focus, .header__nav-link:focus-visible {
  outline: none;
}
.header__nav-link:hover {
  text-decoration: none;
  color: #F2BE22;
}
.header__nav-link:hover svg {
  margin-right: 16px;
}

.hamburger {
  z-index: 10;
  margin-left: auto;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #ffffff;
}

.first-screen {
  height: max(100vh, 985px);
  height: 100vh;
  max-height: 985px;
  padding-bottom: 82px;
  background: url(./assets/img/banner.png) center/cover no-repeat;
  display: flex;
  align-items: flex-end;
}
.first-screen__title {
  margin-bottom: 41px;
  color: #FDFDFD;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Next-ART";
}
.first-screen-form {
  padding: 39px 42px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  display: flex;
  align-items: start;
  gap: 24px;
}
.first-screen .input-box:last-child {
  max-width: 213px;
}

footer {
  height: 96px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 12px;
  color: #F3F5F4;
}

@media (min-width: 1025px) {
  .hamburger,
  #show-program,
  .header__nav-link svg {
    display: none;
  }
  .header__mobile-container {
    margin-left: auto;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    padding-top: 12px;
    padding-bottom: 20px;
  }
  .header__logo img {
    height: 44px;
  }
  .header__mobile-container {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1A3E3E;
    padding: 81px 16px 50px;
    display: none;
  }
  .header__mobile-container .btn {
    border: 1px solid #FDFDFD;
    background-color: #FDFDFD;
    color: #1A3E3E;
    max-width: 320px;
    width: 100%;
    margin: auto auto 0;
  }
  .header__mobile-container .btn:hover {
    background-color: #1A3E3E;
    color: #FDFDFD;
    border-color: #1A3E3E;
  }
  .header__mobile-container .btn:hover {
    background-color: transparent;
    border-color: #FDFDFD;
  }
  .header__nav {
    overflow: auto;
  }
  .header__nav-list {
    flex-direction: column;
  }
  .header__nav-link {
    font-size: 14px;
    font-weight: 400;
    color: #FDFDFD;
    display: flex;
    align-items: center;
  }
  .header__nav-link svg {
    display: inline-block;
    width: 6px;
    height: 10px;
    margin-right: 10px;
    transition: 0.3s;
  }
  .container {
    padding: 0 16px;
  }
  .first-screen {
    height: auto;
    min-height: 611px;
    padding-bottom: 50px;
  }
  .first-screen-form {
    display: none;
  }
  .modal__first-screen-form {
    display: flex;
    flex-direction: column;
    background-color: #1A3E3E;
    border: 1px solid #fff;
  }
  .first-screen__title {
    font-size: 28px;
    margin-bottom: 32px;
    letter-spacing: 0;
  }
  .btn.btn_lg {
    padding: 17px 34px;
  }
  .about {
    padding: 50px 0;
  }
  .about__container {
    gap: 40px;
    flex-direction: column-reverse;
  }
  .about__media {
    max-width: 100%;
  }
  .about__media {
    justify-content: center;
  }
  .about__media-item {
    width: 358px;
    height: 416px;
  }
  .about__media-img {
    border-radius: 24px;
    width: 100%;
  }
  .about .btn {
    padding: 13px 24px;
  }
  .about__media-item:first-child {
    display: none;
  }
  .about__media-item:last-child {
    margin: 0;
  }
  .template-content {
    max-width: 100%;
  }
  .template-content {
    padding-top: 0;
    display: flex;
    flex-direction: column;
  }
  .template-content .btn {
    margin: 0 auto;
  }
  .template-top-title {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 8px;
  }
  .template-title {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .template-description {
    font-size: 16px;
    margin-bottom: 24px;
  }
}
/*# sourceMappingURL=style.css.map */
